body{
    background-color: rgb(126, 126, 255);
}
#clock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6em;
    color: rgb(222, 222, 222);
    font-weight: bold;
    backdrop-filter: blur(5.5px);
    background-color: #c2c2c2b2;
    padding: 5%;
    margin: 0;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.636);
    text-shadow: 3px 3px 10px grey;
    width: auto;
    text-align: center;
}
#message{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-wrap: nowrap;
    font-size: 3em;
    color: rgb(222, 222, 222);
    font-weight: bold;
    backdrop-filter: blur(5.5px);
    background-color: #c2c2c2b2;
    padding: 5%;
    margin-top: 2%;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.636);
    text-shadow: 3px 3px 10px grey;
    width: auto;
    text-align: center;

}
